@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

:root {
  /* || Font */
  /* Font Family */
  --font-family-sans: "Montserrat", sans-serif;
  --font-family-serif: "Fraunces", serif;

  /* Font size */
  --font-size-1: 1.4rem;

  /* Font weight */
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  /* ------------------------------------------- */

  /* || Color */
  /* Primary */
  --color-dark-cyan--hsl-values: 158, 36%, 37%;
  --color-dark-cyan-200--hsl-values: 158, 36%, 20%;
  --color-cream--hsl-values: 30, 38%, 92%;

  /* Neutral */
  --color-very-dark-blue--hsl-values: 212, 21%, 14%;
  --color-dark-grayish-blue--hsl-values: 228, 12%, 48%;
  --color-white--hsl-values: 0, 0%, 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-sans);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: hsl(var(--color-cream--hsl-values));
  color: hsl(var(--color-dark-grayish-blue--hsl-values));

  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1rem;
  padding: 3rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-bold);
  overflow-wrap: break-word;
  color: hsl(var(--color-very-dark-blue--hsl-values));
}

p {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  line-height: 2em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* ------------------------------------------- */

main {
  width: 100%;
  max-width: 375px;
  background-color: hsl(var(--color-white--hsl-values));
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  main {
    max-width: 600px;
    flex-direction: row;
  }
}

main .image-cover,
main .main-section {
  width: 100%;
}

.image-cover img {
  width: 100%;
  min-width: 300px;
  height: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}

@media (min-width: 640px) {
  .image-cover img {
    border-radius: 1.5rem 0 0 1.5rem;
  }
}

.main-section {
  padding: 3rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
}

.product-category {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.pricing-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pricing-section .price {
  font-size: 3.5rem;
  font-family: var(--font-family-serif);
  color: hsl(var(--color-dark-cyan--hsl-values));
}

.pricing-section .original-price {
  text-decoration: line-through;
}

.primary-btn {
  background-color: hsl(var(--color-dark-cyan--hsl-values));
  border: none;
  color: hsl(var(--color-white--hsl-values));

  padding: 1.5em 0;
  border-radius: 0.7em;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  cursor: pointer;

  transition: background-color 0.1s ease-out;
}

.primary-btn:hover {
  background-color: hsl(var(--color-dark-cyan-200--hsl-values));
}

.primary-btn:active {
  background-color: hsl(var(--color-dark-cyan--hsl-values), 0.8);
}

.attribution {
  padding-top: 3rem;
  text-align: center;
  font-size: 1rem;
}

.attribution a {
  color: hsl(var(--color-dark-cyan--hsl-values));
}

.attribution a:hover {
  color: hsl(var(--color-dark-cyan--hsl-values), 0.5);
}
